/* Mobile version */
@media(min-width:400px) {}

/* Desktop */
@media (min-width:900px) {}

footer {
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    align-items: center;
    bottom: 0;
    padding-bottom: 375px;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #007bff;
}

footer a:hover {
    text-decoration: underline;
}

.patron-footer {
    background-image: url("/Portal_Alojamientos_Turisticos-main/html/media/ocean-patron.png");
    display: flex;
    align-content: center;
    padding-bottom: 1000px;
    flex-direction: column;
    flex-wrap: wrap;
}

.información-pag {
    background-color: wheat;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding-left: 20px;
    display: flex;
    align-content: center;
    border: white 10px solid;

}

.separacionInfo {
    padding-left: 100px;
    margin: 40px;
    padding-top: 100px;
    display: flex;
}