/* Mobile version */
@media(min-width:400px) {}

/* Desktop */
@media (min-width:900px) {}

footer {
    width: 100%;
    background-color: #e9fcff;
    padding: 40px;
    text-align: center;
    align-items: center;
    bottom: 0;
    padding-bottom: 25px;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: rgb(103, 156, 248);
}

footer a:hover {
    text-decoration: underline;
    color: greenyellow;
}

.patron-footer {
    background-image: url("/Portal_Alojamientos_Turisticos-main/html/media/ocean-patron.png");
    width: auto;
    height: auto;
    display: block;
}

.separar-fondo-info{
    padding-top: 150px;
    padding-bottom: 100px;
}

.información-pag {
    background-color: white;
    display: inline-block;
    padding-top: 10px;
    margin-right: 20px;
    margin-bottom: 40px;
    height: 200px;
    width: 200px;
    margin-left: 20px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 10%;
}

footer p{
    padding-bottom: 25px;
}