/* Mobile version */
@media(min-width:400px) {
    body {
        margin: 0;
        margin-left: 20%;
        margin-right: 20%;
        background-color: rgb(176, 222, 253);
    }

    #tres-barras{
        display:flex;
    }
}

/* Desktop */
@media (min-width:900px) {
    body {
        margin: 0;
        margin-left: 10%;
        margin-right: 10%;
    }
    #tres-barras{
        display:none;
    }
}



a {
    color: whitesmoke;
    text-decoration: none;

}