/* Mobile version */
@media(min-width:400px) {

}

/* Desktop */
@media (min-width:900px) {

}
table {
    padding-bottom: 50px;
    flex:none;


}
/* 
tbody{
}
 */
tr{
    margin-top: 0;
    display: block;
    max-width: 80%;
}
td{
    background-color: rgb(95, 172, 255);
    padding: 8px;
    border-radius: 3%;
}

table img {
    max-width: 100%;
    height: auto;
    border-radius: 4%;
}


/* arreglar pendiente */
#imagenPromo {
    margin: 0;
    padding: 0; 
    background-image: url("/Portal_Alojamientos_Turisticos-main/html/media/imagendebajofooter.jpg");
    background-size: cover;
    height: 200px;
    width: auto;
}

#imagenPromo p{
    background-color: black;
    font-size: 25px;
    width: 40%;
    color: white;
}

header {
    position: relative; 
    z-index: 1;
}

main {
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    position: relative; 
    z-index: 2; 
}

